**/bin/
**/obj/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
_resharper*/
*.[Rr]e[Ss]harper
.idea/
*.DotSettings.user
artifacts/
*.log
*.sqldb
*.sqlite
*.nupkg
!.nuget/packages.config
**/packages/*
*.db
*.vs